@model BISharp.Contracts.Tiles
@{
    ViewBag.Title = "Index";
}

<script>
    function postActionLoadTile(postIframe) {
        postIframe.setAttribute("frameborder", "0");
        var m = {
                action: "loadTile"
                , accessToken: "@ViewBag.accessToken.ToString().Substring(6)"
                , height: 250
                , width: 361
        };

        message = JSON.stringify(m);
        postIframe.contentWindow.postMessage(message, "*");

    }

    // listen for message to receive tile click messages. 
    if (window.addEventListener) {
        window.addEventListener("message", receiveMessage, false);
    } else {
        window.attachEvent("onmessage", receiveMessage);
    }

    //The embedded tile posts messages for clicks to parent window. Listen and handle as appropriate 
    function receiveMessage(event) {
        messageData = JSON.parse(event.data);
        if (messageData.event === "tileClicked") {
            window.open(messageData.navigationUrl);
        }
    }

</script>
<select onchange="window.location = '/PowerBI/Dash?dashId=' + this.value">
    @foreach (BISharp.Contracts.Dashboard dash in ViewBag.dashes)
    {
        <option value="@dash.id" @{ if (Request.Url.ToString().EndsWith(dash.id))
            {
                Output.Write("selected='selected'");
            }
            }>@dash.displayName</option>
    }
</select>

<div class="container">
    <div class="row">
        @for (var i = 0; i < Model.value.Count; i++)
        {
            var tile = Model.value[i];
            <div class="col-md-6">
                <div>@tile.title</div>
                <iframe src="@(tile.embedUrl)" onload="postActionLoadTile(this)" width="375" height="262" frameborder="1"></iframe>
            </div>
    
        if ((i-1) % 2 == 0)
        {
            Output.Write("</div><div class='row'>");
        }
    
        }
    </div>
</div>
<h2>Index</h2>

